<div class="banner" style="background-image: linear-gradient(rgba(20,20,20,0.5),rgba(20,20,20,0.6)), url('<%= image_path "banner_photo.jpeg" %>');">
  <div class="container">
    <h1>Enjoy life, have a drink!</h1>
    <p>Take a breath and choose a cocktail from my amazing list.</p>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-8 col-lg-6">
      <h1 class="text-center">Cocktail's List</h1>
      <% @cocktails.each do |c| %>
        <%= link_to cocktail_path(c) do %>
          <div class="card-product my-4">
            <% if @article.photo.attached? %>
              <%= cl_image_tag c.photo.key, crop: :fill %>
            <% end %>
            <div class="card-product-infos">
              <h2><%= c.name %></h2>
              <% c.ingredients.each do |i| %>
                <span class="ingredients-span"><%= "#{i.name} | " %></span>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

